<?xml version="1.0" encoding="UTF-8"?>
<kb-project>
 <depends-on-projects/>
 <used-by-projects/>
 <paths>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-i18n-ja.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-websocket.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-jdbc.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-jni.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-util-scan.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/jsp-api.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/websocket-api.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-dbcp.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/catalina.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/el-api.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/catalina-tribes.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/postgresql-9.1-901.jdbc3.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/postgresql-9.4.1211.jre6.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/catalina-ha.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/jasper.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/servlet-api.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-i18n-es.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-util.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/ecj-4.6.3.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/postgresql-9.4-1200-jdbc41.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-i18n-fr.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-api.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/catalina-ant.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/jasper-el.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/catalina-storeconfig.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/annotations-api.jar"/>
  <path value="C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/tomcat-coyote.jar"/>
 </paths>
 <validation>
  <core validator-id="jsf-verification"/>
  <core validator-id="jboss.cdi.core"/>
  <el/>
 </validation>
 <aliases/>
 <includes/>
 <uris/>
</kb-project>
